@tailwind base;
@tailwind components;
@tailwind utilities;

html::-webkit-scrollbar {
   display: none;
}

html {
   scrollbar-width: none;
}

.exit_icon {
   background-image: url("../../public/icons6.png");
   background-position: -126px -71px;
   background-size: auto;
   width: 20px;
   height: 20px;
   background-repeat: no-repeat;
   display: inline-block;
   filter: invert(100%);
}